# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- List popular libraries commonly used by Data Scientists
- List popular open source data science tools

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia
8. JS
9. php
10. GO
11. Ruby
12. Visual Basic

Some of the commonly used libraries used by Data Scientists include:
    
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. TensorFlow

| Data Science Tools |
| -------------|
| R Studio |
| Jupyter Notebooks |
| Anaconda |

### Below are a few examples of evaluating arithmetic expressions in Python
| Operation | Example of an expression |
| --- | --- |
| Add | 3+4 |
| Subtract | 3-4 |
| Multiply | 3*4 |
| Divide | 3/4 |

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<hr>

## Author
Daiga Smeke